html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: 'Iran nastaliq';
    src: url('IranNastaliq/IranNastaliq.ttf') format('truetype');
}
*{
    font-family: 'Iran nastaliq';
}